# Entornos virtuales
venv/
env/

# Archivos de Python cacheados
__pycache__/
*.pyc

# Archivos de datos y financieros (¡Privados!)
*.zip
*.pdf
*.xml
*.xlsx
*.csv

# Nombres específicos por si acaso
Estados_*.zip
Reporte_Movimientos.xlsx